In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np

In [4]:
import pickle

In [15]:
import sklearn

In [7]:
data=pd.read_csv(r'C:\Github repo\uber ride prediction\taxi.csv')

In [8]:
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [9]:
data_x=data.iloc[:,0:-1].values

In [10]:
data_y=data.iloc[:,-1].values

In [11]:
data_x

array([[     15, 1800000,    5800,      50],
       [     15, 1790000,    6200,      50],
       [     15, 1780000,    6400,      60],
       [     25, 1778000,    6500,      60],
       [     25, 1750000,    6550,      60],
       [     25, 1740000,    6580,      70],
       [     25, 1725000,    8200,      75],
       [     30, 1725000,    8600,      75],
       [     30, 1720000,    8800,      75],
       [     30, 1705000,    9200,      80],
       [     30, 1710000,    9630,      80],
       [     40, 1700000,   10570,      80],
       [     40, 1695000,   11330,      85],
       [     40, 1695000,   11600,     100],
       [     40, 1690000,   11800,     105],
       [     40, 1630000,   11830,     105],
       [     65, 1640000,   12650,     105],
       [    102, 1635000,   13000,     110],
       [     75, 1630000,   13224,     125],
       [     75, 1620000,   13766,     130],
       [     75, 1615000,   14010,     150],
       [     80, 1605000,   14468,     155],
       [     86, 1590000,   15000,     165],
       [     98, 1595000,   15200,     175],
       [     87, 1590000,   15600,     175],
       [     77, 1600000,   16000,     190],
       [     63, 1610000,   16200,     200]], dtype=int64)

In [12]:
#perforn train test split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(data_x,data_y,test_size=0.3,random_state=0)

In [18]:
# applying alg

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
reg=LinearRegression()

In [21]:
reg.fit(x_train,y_train)

LinearRegression()

In [23]:
reg.score(x_train,y_train) #train score

0.9428364724316813

In [24]:
reg.score(x_test,y_test)

0.9157379222488221

In [25]:
import pickle

In [26]:
pickle.dump(reg,open('taxi.pkl','wb'))

In [29]:
model=pickle.load(open('taxi.pkl','rb'))

In [37]:
model.predict([[80,2000000,727,22]]) # giving the value of  priceperweek, population, monthly income and average parking permonth

array([175940.82046339])